<div class="student-page-container" @FadeInOutAnimation>
  <div class="student-card">
    <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active"><i class="material-icons">settings</i><span>Пароль</span></div>
        <div class="collapsible-body">
          <div class="form-group modal-input-block">
            <span>Текущий пароль:</span>
            <input type="password" class="form-control" [(ngModel)]="password.old"/>
          </div>
          <div class="form-group modal-input-block">
            <span>Новый пароль:</span>
            <input type="password" class="form-control" [(ngModel)]="password.new"/>
          </div>
          <div class="form-group modal-input-block">
            <span>Повторный новый пароль:</span>
            <input type="password" class="form-control" [(ngModel)]="password.newRepeat"/>
          </div>
          <button class="waves-effect waves-green btn right" (click)="changePassword()">Сохранить</button>
          <div class="clearfix"></div>
        </div>
      </li>
      <!--<li>-->
        <!--<div class="collapsible-header"><i class="material-icons">place</i>Данные</div>-->
        <!--<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>-->
      <!--</li>-->
      <!--<li>-->
        <!--<div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>-->
        <!--<div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>-->
      <!--</li>-->
    </ul>
  </div>
</div>
