.fixed {
  position: fixed;
}

.modal-input-block {
  margin-bottom: 10px;
}

.modal-input-block input {
  margin-bottom: 10px;
}

.modal.bottom-sheet {
  max-height: 100%;
  height: 100%;
}

.modal.modal-changer {
  display: flex !important;
  flex-direction: column;
}

.modal-content.modal-changer {
  height: 100%;
  padding-top: 0;
  overflow-y: auto;
}

[type="checkbox"] {
  position: relative !important;
  left: 0 !important;
  opacity: 1 !important;
}

#update-teacher-profile, #update-teacher-files {
  /*width: 100%;*/
  /*height: 100%;*/
  margin-top: 63px;
}

.teacher-photo {
  margin-top: 20px;
  padding: 10px;
  width: 100%;
  box-shadow: 0px 0px 10px rgba(0,0,0,.2);
  height: 235px;
  display: flex;
  /*max-width: 850px;*/
}

.teacher-photo img {
  height: 100%;
  /*box-shadow: 0px 0px 10px rgba(0,0,0,.8);*/
}

.photo-drag {
  display: inline-block;
  width: 100%;
  margin-right: 10px;
  background-color: rgba(138, 138, 138, 0.1);
  border: 2px dashed rgba(138, 138, 138, 0.3);
}

.photo-drag input {
  width: 100%;
  height: 100%;
  margin-top: -33px;
  opacity: 0;
}

.drag-helper {
  text-align: right;
  margin-right: 10px;
  font-size: 18px;
  color: rgba(138, 138, 138, 1);
}
