<div class="teacher-page-container" @FadeInOutAnimation>
  <div class="student-card">
    <div class="student-small-card">
      <h4 class="h4">{{teacher.surname}} {{teacher.name}} {{teacher.father_name}}</h4>
      <table class="big-screen">
        <tr>
          <td style="width: 60%">
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="section">
              <h6>Воинское звание:</h6>
              <p>{{teacher.military_rank}}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h6>Должность на кафедре:</h6>
              <p>{{teacher.work_position}}</p>
            </div>
          </td>
          <td>
            <div class="student-img-container col s4">
              <img src="../../../../../assets/2.jpg" class="img-responsive" width="145" height="auto">
            </div>
          </td>
        </tr>
      </table>
      <!--<h4 class="big-screen">Данные преподавателя</h4>-->
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="section small-screen">
        <h6>Воинское звание:</h6>
        <p>{{teacher.military_rank}}</p>
      </div>
      <div class="divider small-screen"></div>
      <div class="section small-screen">
        <h6>Должность на кафедре:</h6>
        <p>{{teacher.work_position}}</p>
      </div>
      <!--<div class="divider"></div>-->
      <h4 class="h4" style="margin-top: 30px">Персональные данные</h4>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="section">
        <h6>Образовение:</h6>
        <p>{{teacher.education}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Дата рождений:</h6>
        <p>{{teacher.birth_date}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Начало работы:</h6>
        <p>{{teacher.work_start_year}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Адрес проживания:</h6>
        <p>{{teacher.residence_address}}</p>
      </div>
    </div>
  </div>
</div>
