label {
  font-size: 11px;
}

.centred th, .centred td {
  text-align: center;
}

.pointer-center {
  vertical-align: middle;
  cursor: pointer;
}

.schedule {
  table-layout: fixed;
}

table.schedule:last-child {
  margin-bottom: 5px;
}

.schedule th, .schedule td {
  border-right: 1px solid #d0d0d0;
  cursor: pointer;
}

.schedule th:last-child, .schedule td:last-child {
  border-right: none;
}

.clear-all {
  padding-top: 5px;
  text-align: right;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 0;
}

.clear-all button {
  width: 100%;
}

.clear-all button:hover, .clear-all button:active, .clear-all button:focus {
  color: white;
}
