<div>
  <div class="row s12 m12 l12 xl12" style="padding-left: 7px;">
    <div class="input-field col s12 m6 l3 xl3">
      <select materialize="material_select" [(ngModel)]="currentCourse" (ngModelChange)="getSchedule()">
        <option value="" disabled selected>Выберите курс</option>
        <!-- <option [value]="2">2</option> -->
        <option *ngFor="let course of courses" [value]="course">{{course}}</option>
      </select>
      <label>Курс</label>
    </div>
    <div class="input-field col s12 m6 l3 xl3">
      <select materialize="material_select" [(ngModel)]="currentSquad" (ngModelChange)="getSchedule()">
        <option value="" disabled selected>Выберите взвод</option>
        <option *ngFor="let squad of squads" [value]="squad">{{squad}}</option>
      </select>
      <label>Взвод</label>
    </div>
  </div>
  <div *ngIf="currentCourse && currentSquad">
    <h6>1 неделя:</h6>
    <table class="table bordered highlight centred schedule">
      <thead>
        <th>
          <span class="hide-on-med-and-down show-on-medium">Время</span>
          <span class="hide-on-med-and-up">Часы</span>
        </th>
        <th *ngFor="let day of days">
          <span class="hide-on-med-and-down show-on-medium">{{day[0]}}</span>
          <span class="hide-on-med-and-up">{{day[1]}}</span>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let lesson of lessons; let lessonIndex = index;">
          <td>
            {{lesson}} пара
          </td>
          <td *ngFor="let day of days; let dayIndex = index;"
              (click)="currentDay = dayIndex; currentTime = lessonIndex; openModalScheduleEdit(1, dayIndex, lessonIndex)">
            {{getCell(1, lessonIndex, dayIndex)}}
          </td>
        </tr>
      </tbody>
    </table>

    <h6>2 неделя:</h6>
    <table class="table bordered highlight centred schedule">
      <thead>
        <th>
          <span class="hide-on-med-and-down show-on-medium">Время</span>
          <span class="hide-on-med-and-up">Часы</span>
        </th>
        <th *ngFor="let day of days">
          <span class="hide-on-med-and-down show-on-medium">{{day[0]}}</span>
          <span class="hide-on-med-and-up">{{day[1]}}</span>
        </th>
      </thead>
      <tbody>
        <tr *ngFor="let lesson of lessons; let lessonIndex = index;">
          <td>
            {{lesson}} пара
          </td>
          <td *ngFor="let day of days; let dayIndex = index;"
              (click)="currentDay = dayIndex; currentTime = lessonIndex; openModalScheduleEdit(2, dayIndex, lessonIndex)">
            {{getCell(2, lessonIndex, dayIndex)}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div id="modalScheduleEdit" class="modal modal-fixed-footer" materialize="modal" [materializeActions]="modalScheduleEdit">
  <div class="modal-content">
    <h4>Изменение расписания</h4>

    <span>Аудитория:</span>
    <input class="form-control" [(ngModel)]="editScheduleCell.room">
    <br>
    <span>Преподаватель:</span>
    <input class="form-control" [(ngModel)]="teacherFilters.name">
    <div class="teachers-list">
      <table class="table bordered highlight centred">
        <tr *ngFor="let teacher of teachers | filterBy: teacherFilters">
          <td (click)="editScheduleCell.teacher_id = teacher.id; teacherFilters.name = teacher.name; updateDisciplines()"
              class="pointer-center">{{teacher.name}}</td>
        </tr>
      </table>
    </div>
    <br>
    <div *ngIf="editScheduleCell.teacher_id" class="input-field col s12 m6 l3 xl3">
      <select materialize="material_select" [(ngModel)]="editScheduleCell.discipline_id" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Выберите дисциплину</option>
        <option *ngFor="let discipline of disciplines" [value]="discipline.id">{{discipline.name}}</option>
      </select>
      <label>Дисциплина</label>
    </div>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-green btn-flat" (click)="saveScheduleCell();">Сохранить</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" style="margin-right: 10px" (click)="closeModalScheduleEdit()">Отмена</button>
  </div>
</div>
