<div class="student-page-container">
  <div class="student-card">
    <div class="student-small-card">
      <h4 class="h4">{{student.surname}} {{student.name}} {{student.father_name}}</h4>
      <table class="big-screen">
        <tr>
          <td style="width: 60%">
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="divider"></div>
            <div class="section">
              <h6>Взвод:</h6>
              <p>{{student.squad}}</p>
            </div>
            <div class="divider"></div>
            <div class="section">
              <h6>Курс:</h6>
              <p>{{student.course}}</p>
            </div>
          </td>
          <td>
            <div class="student-img-container col s4">
              <img src="../../../../../assets/2.jpg" class="img-responsive" width="145" height="auto">
            </div>
          </td>
        </tr>
      </table>
      <!--<h4 class="big-screen">Данные преподавателя</h4>-->
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="divider small-screen"></div>
      <div class="section small-screen">
        <h6>Взвод:</h6>
        <p>{{student.squad}}</p>
      </div>
      <div class="divider small-screen"></div>
      <div class="section small-screen">
        <h6>Курс:</h6>
        <p>{{student.course}}</p>
      </div>
      <!--<div class="divider"></div>-->
      <h4 class="h4" style="margin-top: 30px">Персональные данные</h4>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="section">
        <h6>Дата рождений:</h6>
        <p>{{student.birth_date}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Место рождения:</h6>
        <p>{{student.birth_place}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Семейное положение:</h6>
        <p>{{student.family_status}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Общественная работа:</h6>
        <p>{{student.public_work}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Образовение:</h6>
        <p>{{student.education}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Год приёма:</h6>
        <p>{{student.start_study_year}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Факультет:</h6>
        <p>{{student.faculty}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Заключение ВВК:</h6>
        <p>{{student.conclusion}}</p>
      </div>

      <h4 class="h4" style="margin-top: 30px">Контактные данные</h4>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="section">
        <h6>Адрес, номер телефона (нужно разбить):</h6>
        <p>{{student.residence_address}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>ФИО матери, место работы:</h6>
        <p>{{student.mother_data}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Адрес матери, номер телефона:</h6>
        <p>{{student.mother_residence}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>ФИО отца, место работы:</h6>
        <p>{{student.data}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Адрес отца, номер телефона:</h6>
        <p>{{student.mother_residence}}</p>
      </div>

      <h4 class="h4" style="margin-top: 30px">Документы</h4>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="divider"></div>
      <div class="section">
        <h6>Номер прописного свидетельства:</h6>
        <p>{{student.cumulative_number}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Номер студенческого билета:</h6>
        <p>{{student.student_card_number}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Номер военного билета:</h6>
        <p>{{student.military_number}}</p>
      </div>
      <div class="divider"></div>
      <div class="section">
        <h6>Дата, номер приказа ректора о заключении контракта:</h6>
        <p>{{student.contract_data}}</p>
      </div>
    </div>
  </div>
</div>
