body {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  overflow-x: hidden;
  /*overflow-y: hidden;*/
  background: #ffffff url('/assets/veteran.jpg') no-repeat fixed center center;
  background-size: cover;
}

.btn:hover, .btn:focus, .btn.focus {
  color: #fff;
}

[type="checkbox"] + label {
  height: 0;
  position: fixed;
  padding: 0;
}

@media only screen and (max-width : 480px) {
  html {
    height: 100%;
    width: 100%;
  }

  body {
    background: #000 url('/assets/veteran.jpg') no-repeat fixed center;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .main-container {
    padding: 0 !important;
    margin: 0 !important;
  }
}

.navbar{
  font-size: 18px;
  font-weight: 500;
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.nav > li > a {
  padding: 20px 50px;
}

.main-container {
  -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  -moz-box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
  background-color: white;
  padding: 10px;
  margin: 15px;
}

.main-container h5{
  margin-top: 5px;
  margin-bottom: 0px;
}

.spinning-preloader-container {
  background: #ffffff url('/assets/veteran.jpg') no-repeat fixed center center;
  background-size: cover;
}

/*styles for tabs*/
.indicator {
  background-color: black !important;
}

.clearfix {
  clear: both;
}

.tabs {
  white-space: normal;
}

.head-tab {
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

.tabs .tab a {
  color: #666666;
}

.active {
  color: black !important;
}

.tabs .tab a:hover, .tabs .tab a:focus, .tabs .tab a:active {
  color: black !important;
  text-decoration: none !important;
}

.caret {
  font-size: 0 !important;
}

.select-wrapper input.select-dropdown {
  font-size: 13px;
}

.modal-content {
  box-shadow: none;
}

.modal-footer {
  box-shadow: 0 3px 9px rgba(0,0,0,0.5);
  padding-right: 2% !important;
}

.toast {
  font-size: 16px;
}

.success-toast {
  background-color: #8BC34A;
}

.error-toast {
  background-color: #F44336;
}

/* for best datapicker vision*/
.picker__header {
  margin-bottom: 15px;
}

.picker__select--year.browser-default {
  width: auto;
  padding-right: 18px;
}

.picker__select--year.browser-default {
  margin-left: 1.75em;
}

.material-tooltip {
  word-spacing: 0.25em;
  letter-spacing: normal;
  line-height: inherit;
}

/*.carousel {*/
  /*height: calc(100% - 43px);*/
  /*overflow-y: auto;*/
/*}*/

textarea, textarea.form-control, input.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], .form-control[type="text"], .form-control[type="password"], .form-control[type="email"], .form-control[type="tel"], .form-control[contenteditable] {
  font-size: 16px !important;
}

.progress {
  margin-top: 0;
  margin-bottom: 0;
  position: fixed;
  z-index: 100000;
}
