<div class="misses-container">
  <div class="row s12 m12 l12 xl12" style="padding-left: 7px;">
    <input class="form-control date-picker col s12 m4 l3 xl3" placeholder="Выберете дату" [(ngModel)]="missesDate" materialize="pickadate"
           [materializeParams]="[{format: 'dd/mm/yyyy', selectMonths: false, selectYears: 5}]" (ngModelChange)="getMisses()"/>

    <div *ngIf="missesDate" class="input-field col s12 m4 l3 xl3">
      <select materialize="material_select" [(ngModel)]="currentCourse" (ngModelChange)="getMisses()">
        <option value="" disabled selected>Выберите курс</option>
        <option *ngFor="let course of courses" [value]="course">{{course}}</option>
      </select>
      <label>Курс</label>
    </div>

    <div *ngIf="missesDate" class="input-field col s12 m4 l3 xl3">
      <select materialize="material_select" [(ngModel)]="currentSquad" (ngModelChange)="getMisses()">
        <option value="" disabled selected>Выберите взвод</option>
        <option *ngFor="let squad of squads" [value]="squad">{{squad}}</option>
      </select>
      <label>Взвод</label>
    </div>
  </div>

  <div class="journal-data">
    <table class="table bordered highlight misses centred">
      <tr>
        <th>Cтудент</th>
        <th *ngFor="let lesson of lessons">{{lesson}}</th>
      </tr>
      <tr *ngFor="let student of misses.keys">
        <td style="width: 15%; padding-top: 10px">
          {{misses[student].name}}
        </td>
        <td class="pointer-center" *ngFor="let lesson of lessons; let i = index" (click)="openModalMissesEdit(misses[student].misses[i], i, student)">
          {{misses[student].misses[i]?.reason}}
        </td>
      </tr>
    </table>
  </div>
</div>

<div id="modalMissesEdit" class="modal modal-fixed-footer" materialize="modal" [materializeActions]="modalMissesEdit">
  <div class="modal-content">
    <h4>Пропуск {{missesDate}}, {{lessons[currentMissData?.lesson_number]}}</h4>

    <span>Причина:</span>
    <input class="form-control" [(ngModel)]="currentMissData.reason">
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-green btn-flat" (click)="saveMissesCell();">Сохранить</button>
    <button class="waves-effect waves-green btn-flat" (click)="deleteMissesCell();">Удалить</button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat" style="margin-right: 10px" (click)="closeModalMissesEdit()">Отмена</button>
  </div>
</div>
