label {
  font-size: 11px;
}

.pointer-center {
  vertical-align: middle;
  cursor: pointer;
}

.centred th, .centred td {
  text-align: center;
}

.misses-container {
  margin: 10px;
}

.date-picker {
  margin-top: 11px;
}

.misses {
  table-layout: fixed;
}

table.misses:last-child {
  margin-bottom: 5px;
}

.misses th, .misses td {
  border-right: 1px solid #d0d0d0;
  cursor: pointer;
}

.misses th:last-child, .misses td:last-child {
  border-right: none;
}
