<div class="journal-page-container">
  <div class="row s12 m12 l12 xl12" style="padding-left: 7px;">
    <div class="input-field col s12 m4 l3 xl3">
      <select materialize="material_select" [(ngModel)]="currentDisciplineId" (ngModelChange)="updateCoursesAndGroups($event)" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Выберите дисциплину</option>
        <option *ngFor="let discipline of disciplines" [value]="discipline.id">{{discipline.name}}</option>
      </select>
      <label>Дисциплина</label>
    </div>
    <div *ngIf="currentDisciplineId" class="input-field col s12 m4 l3 xl3">
      <select materialize="material_select" [(ngModel)]="currentCourse" (ngModelChange)="getMarks($event)" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Выберите курс</option>
        <option *ngFor="let course of courses" [value]="course">{{course}}</option>
      </select>
      <label>Курс</label>
    </div>
    <div *ngIf="currentDisciplineId" class="input-field col s12 m4 l3 xl3">
      <select materialize="material_select" [(ngModel)]="currentSquad" (ngModelChange)="getMarks($event)" [materializeSelectOptions]="selectOptions">
        <option value="" disabled selected>Выберите взвод</option>
        <option *ngFor="let squad of squads" [value]="squad">{{squad}}</option>
      </select>
      <label>Взвод</label>
    </div>
  </div>
  <div class="journal-data">
    <table class="table bordered highlight">
      <tr>
        <th>Cтудент</th>
        <th *ngFor="let term of terms; let i = index;">{{i + 1}} семестр</th>
      </tr>
      <tr *ngFor="let studentId of marks.keys">
        <td style="width: 15%; padding-top: 10px">
          {{marks[studentId].name}}
        </td>
        <td *ngFor="let mark of marks[studentId].marks; trackBy: markTracker; let markIndex = index;">
          <input type="number" placeholder="-" [(ngModel)]="marks[studentId].marks[markIndex]">
        </td>
      </tr>
    </table>
  </div>
  <div class="row" style="padding-top: 5px; text-align: right; padding-right: 15px; margin-bottom: 0">
    <button type="button" class="waves-effect waves-light btn" style="margin-right: 10px">Отмена</button>
    <button type="button" class="waves-effect waves-light btn" (click)="saveMarks()">Сохранить</button>
  </div>
</div>
